@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}
*,
::after,
::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: var(--text-dark);
    background: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: "Poppins", sans-serif;

}
/* root */
:root{
    ---text-dark:#3A3A3A;
}

/* custome-css style */

h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration-line: none;
    display: inline-block;
    transition: 0.3s all ease-in-out;
}
span,
small {
    display: inline-block;
}
img{
    vertical-align: middle;
}

.d-flex {
    display: flex;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

/* header-area stars here */
/* navbar-area */
.header-nav{
    padding: 85px 0 0;
}

.header-nav > h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.header-nav > ul > li >a{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(---text-dark);
    margin-left: 24px;
}
/* baneer-section */
.banner-area{
    padding: 80px 0 70px;
}
.banner-content{
    padding-right: 10%;
}
.banner-content h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.banner-content p{
    margin: 16px 0;
    color: #3A3A3A;
}
.banner-content a{
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
}
.banner-content a i{
    margin-left: 7px;
}
.banner-img-div img{
    background: url(images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* header-area ends here */

/* logo-section-style */

.logo-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    padding: 35px 0;
}
.spn{
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}


/* collection-area starts here */
.collection-are{
    padding: 100px 0 100px;
    width: 1047px;
    height: 1662px;
    margin: 0 auto;
}
.collection-are > div > h2{
    margin: 0 0 30px;
}
.card-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card-items{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    text-align: start;
}
.card-items > a{
    display: block;
    width: 100%;
    padding: 17px 14px;
}
.card-items img{
    width: 100%;
}
.card-items h2{
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    margin: 15px 0 6px;
    text-align: start;
}
.card-items h4{
    color: rgba(0, 0, 0, 0.87);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.card-items ul > li > i{
    color: #FB8200;
    font-size: 12px;
    margin-right: 1px;
}
.card-items p{
    color: rgb(120, 120, 133);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
}
.rating-div p {
    color: rgb(94, 99, 102);
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-left: 8px;
}


/* feature-section starts here */
.feature-area{
    padding: 0 0 100px;
    margin-top: 50px;

}
.feature-area .d-flex{
    gap: 90px;
}
.feature-content h1{
    color: rgb(10, 8, 38);
    font-family: "Poppins";
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
}
.feature-content p{
    color: rgb(108, 108, 108);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.feature-content a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
}
.feature-content a i {
    margin-left: 8px;
}
/* feature-section starts here */


/* footer-section starts here */
.footer-area{
    background-color: #0A0826;
    padding: 50px 0;
    text-align: center;
}
.footer-content h2{
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 3px;
}
.footer-content p{
    color: rgb(217, 219, 225);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 3px;
    font-family: "Manrope", sans-serif;
   
}
.footer-content ul{
    padding: 14px 0 0;
}
.footer-content ul > li> a{
    background: rgba(255, 255, 255, 0.1);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 17px;
    color: #FFF;
    position: relative;
}
.footer-content ul > li > a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}